@media (max-width: 1024px) {
    .Navbar {
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    .Smaller-Screen-Nav {
      display: none;
    }
    .Mobile-Nav-Menu {
      display: none;
    }
  }
  html {
  scroll-behavior: smooth;
}